
</br >

<p class="lead">Let's Check some fact's about {{vm.data.name}}</p>


<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>County Name</th>
    <th>Capital</th>
    <th>Region</th>
    <th>Subregion</th>
    <th>Population</th>
  </tr>

  </thead>
  <tbody>


  <thead>
  <tr>
    <td>{{vm.data.name}}</td>
    <td>{{vm.data.capital}}</td>
    <td>{{vm.data.region}}</td>
    <td>{{vm.data.subregion}}</td>
    <td>{{vm.data.population}}</td>
  </tr>

  </tbody>

</table>
